#iyoiyo{
	background-color:#ffffeb;}
	
.full-frame {
    height: 100%;
    width: 100%;
}
	
#wrapper{
	padding-top:;}
	
#head header{
	width:970px;
	min-height:116px;}
		
#head header .index_header{
	float:left;
	margin:8px 0 0;
	position: relative;
	z-index:44;}
	
#main{
	width:970px;
	}
	
.main_body{
	width:100%;}
	
.main{
	position:relative;
	width:100%;
	min-height:540px;}
	
.newadd-link { 
	background: -moz-linear-gradient(center top , #d2ed99, #b2d06e) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d2ed99), to(#b2d06e));
	background: -webkit-linear-gradient(center top , #d2ed99, #b2d06e);
	background:  -o-linear-gradient(top , #d2ed99, #b2d06e);
	background:  linear-gradient(to bottom, #d2ed99, #b2d06e); 
	filter:	progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d2ed99', endColorstr='#b2d06e'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d2ed99', endColorstr='#b2d06e')"; /* IE8 */
	border: 1px solid #a2b973;
    border-radius: 4px 4px 4px 4px;
    color: #534200;
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin: 0 0 11px 0;
    padding: 8px 5px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    width: 215px;
	text-decoration:none !important;
}

.newadd-link:hover {
     background: -moz-linear-gradient(center top , #b2d06e, #d2ed99) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#b2d06e), to(#d2ed99));
	background: -webkit-linear-gradient(center top , #b2d06e, #d2ed99);
	background:  -o-linear-gradient(top , #b2d06e, #d2ed99);
	background:  linear-gradient(to bottom, #b2d06e, #d2ed99); 
	filter:	progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2d06e', endColorstr='#d2ed99'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2d06e', endColorstr='#d2ed99')"; /* IE8 */
    color: #496900;
}
 

	/*	donation-box	*/

.donation-box {  
    width: 232px;
    z-index: 999;
	float:left;
	position: relative;}


.ad-bar {
    background-color:#ffffff ;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 5px #C3A558;
    float: left;
    padding: 25px 7px 20px 7px;
    position: relative;
    text-align: left;
    width: 211px;
	margin: 10px 0 0;
}

.up-triangle { 
    
    background: none repeat scroll 0 0 #FFF;
    box-shadow: 2px -2px 2px -1px #C3A558;
    height: 23px;
    left: 116px;
    position: absolute;
    top: -7px;
    width: 23px;
    z-index: 0;
   -webkit-transform:rotate(-45deg);
   -webkit-transform-origin: 0 100%;
   -moz-transform: rotate(-45deg);
   -moz-transform-origin: 0 100%;
   -ms-transform:rotate(-45deg);
   -ms-transform-origin: 0 100%;
   -o-transform:rotate(-45deg);
   -o-transform-origin: 0 100%;
   transform:rotate(-45deg);
}

.ad-bar .txt1 {
    line-height: 16px;
    position: relative;
    text-align: left;
    width: 215px;
}
.ad-bar .red-text {
    color: #F93B3B;
}

.flag-square {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E3E2;
    float: left;
    height: 11px;
    margin: 1px 7px 0 0;
    position: relative;
    width: 15px;
}

.ad-bar .txt1.txt2 {
    float: left;
    font-size: 12px;
    width: 235px;
}

.ad-bar .txt1.status {
    background:url(../../img/donation-status.png) no-repeat scroll 0 0 transparent;
    float: left;
    width: 100%;
	margin: 12px 0 0;
}

.ad-bar .txt1 ul.top {
    height: 20px;
    padding-top: 0;
}
.ad-bar .txt1 ul {
    float: left;
    height: 22px;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 28px;
    width: 206px;
}

.ad-bar .txt1 ul li {
    float: left;
    margin-left: 29px;
    width: 26px;
}

.ad-bar .txt1 ul.bottom {
    padding-top: 33px;
}

.red-circle {
    background: none repeat scroll 0 0 red;
    border-radius: 70px 70px 70px 70px;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 2px;
    width: 7px;
}


.iyo_video{
   float: left;
    left: 280px; 
    position: absolute;
    top: 0;
    z-index: 30;
	width:185px;}
	
.iyo_video iframe{
	width:100%;}


.iyo_map{
	position:absolute;
	right:0;
	top:-116px;
	z-index:20;
	width:548px;
	height:auto; }
	
.iyo_map IMG{
	max-width:100%;}
	
.iyo_dog{
	float:left;
	position:absolute;
	top:315px;
	left:-25px;
	z-index:10;}
	
/*	footer	*/

.copyright {
    clear: both;
    font-size: 10px;
    margin: 0 auto;
    padding: 0 0 20px;
    position: relative;
    text-align: center;
    top: 105px;
    width: 970px;
}
.copyright a {
    color: #0045C6;
    margin-right: 5px;
    text-decoration: none;
}
.copyright a:hover {
    text-decoration: underline;
}

.ft_sep {
    border-bottom: 1px solid #FFD99E;
    clear: both;
    height: 7px;
    margin: 0 auto 7px;
}

.stamp-red01 {
    background: none repeat scroll 0 0 transparent;
    border: 3px solid #D91B12;
    border-radius: 65px 65px 65px 65px;
    height: 55px;
    padding: 2px;
    position: absolute;
    right: 120px;
    top: -25px;
    width: 55px;
}
.stamp-red02 {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #D91B12;
    border-radius: 65px 65px 65px 65px;
    height: 53px;
    width: 53px;
}
.stamp-text {
    -moz-transform: rotate(-20deg);
    color: #D91B12;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 13px 0;
}

.foot_links{
	width:970px;
	float:left;
	text-align:center;}
	
.foot_links a{ }


/*	map links	*/


	
.iyo_map .japan{
	position:relative;}
	
.iyo_map .text-prefecture{
	position:absolute;
	text-decoration:none;
	font-size:14px;}
	
.iyo_map .text-prefecture a{
	z-index:50;
	float:left;
	 }

.p-1{
	top:112px;
	right:34px;}
 
.p-2{
	top:195px;
	left:186px;}
	
.p-3{
	top:195px;
	left:229px;}
	
.p-4{
	top:195px;
	left:273px;}
	
.p-5{
	top:220px;
	left:186px;}
	
.p-6{
	top:220px;
	left:229px;}
	
.p-7{
	top:220px;
	left:273px;}
	
.p-8{
	top:380px;
	left:511px;
	
	}
	
.p-9{
	top:405px;
	left:420px;
	
	}
	
.p-10{
	top:358px;
	left:420px;
	}
	
.p-11{
	top:358px;
	left:464px;
	}
	
.p-12{
	top:358px;
	left:511px;
	}
	
.p-13{
	top:380px;
	left:420px;
	}
	
.p-14{
	top:380px;
	left:464px;
	}
	
.p-15{
	top:296px;
	left:84px;}
	
.p-16{
	top:296px;
	left:130px;}
	
.p-17{
	top:296px;
	left:175px;}
	
.p-18{
	top:296px;
	left:222px;}
	
.p-19{
	top:320px;
	left:84px;}
	
.p-20{
	top:320px;
	left:130px;}
	
.p-21{
	top:320px;
	left:175px;}
	
.p-22{
	top:320px;
	left:222px;}
	
.p-23{
	top:343px;
	left:84px;}
	
.p-24{
	top:498px;
	left:371px;
	}
	
.p-25{
	top:498px;
	left:419px;
	}
	
.p-26{
	top:522px;
	left:263px;
	}
	
.p-27{
	top:522px;
	left:311px;
	}
	
.p-28{
	top:522px;
	left:371px;
	} 
	
.p-29{
	top:498px;
	left:263px;}
	
.p-30{
	top:498px;
	left:311px;}
	
.p-31{
	top:407px;
	left:-2px;}
	
.p-32{
	top:407px;
	left:43px;}
	
.p-33{
	top:407px;
	left:90px;}
	
.p-34{
	top:432px;
	left:-2px;}
	
.p-35{
	top:432px;
	left:43px;}
	
.p-36{
	top:558px;
	left:143px;}
	
.p-37{
	top:558px;
	left:197px;}
	
.p-38{
	top:582px;
	left:143px;}
	
.p-39{
	top:582px;
	left:197px;}
	
.p-40{
	top:585px;
	left:-90px;}
	
.p-41{
	top:585px;
	left:-42px;}
	
.p-42{
	top:607px;
	left:-140px;}
	
.p-43{
	top:560px;
	left:-140px;
	}
	
.p-44{
	top:560px;
	left:-90px;
	}
	
.p-45{
	top:560px;
	left:-42px;
	}
	
.p-46{
	top:585px;
	left:-140px;
	}
	
.p-47{
	top:665px;
	left:-53px;}